[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Uu]ser[Ss]ettings/
[Dd]ist/
[Ll]ocalPackages/
*.csproj
*.unityproj
*.sln
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.VC.VC.opendb
*.apk
*.unitypackage
*.aab
*.DS_Store
Thumbs.db
*.log
.vscode/
*.blend1
*.blend2
*.tmp
